import os

# secrets.py
CLOUDINARY_STORAGE = {
    "CLOUD_NAME": os.environ.get(),
    "API_KEY": os.environ.get(API_KEY),
    "API_SECRET": os.environ.get(API_SECRET),
}

CLOUDINARY_URL =os.environ.get

# Ensure you replace 'your-cloud-name', 'your-api-key', and 'your-api-secret' with actual Cloudinary credentials.
RECAPTCHA_PRIVATE_KEY=os.environ.get(RECAPTCHA_PRIVATE_KEY)

RECAPTCHA_PUBLIC_KEY = os.environ.get(RECAPTCHA_PUBLIC_KEY)
RECAPTCHA_PRIVATE_KEY = os.environ.get(RECAPTCHA_PRIVATE_KEY)

SECRET_KEY=os.environ.get(SECRET_KEY)

DEBUG = os.environ.get(DEBUG)